@mixin paragraf-info {
  text-align: left;
  padding: 0 50px;
  line-height: 1.1;
  max-width: 70%;
  margin: 20px auto;
}
@mixin title-info {
  text-align: center;
}
@mixin section-poz-container {
  width: 100%;
  opacity: 80%;
  padding: 30px 0 30px 0;
}
@mixin for-contacts-texts {
  font-size: 16px;
  text-align: center;
  font-family: "Lato Regular";
}
