/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "slick.scss";

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.upheader-info {
  display: flex;
  margin: 0 auto;
  width: 80%;

  &__img {
    width: 70px;
    padding: 10px;
  }
  &__text {
    font-family: $paragraf-info-font;
    font-size: 13px;
    margin-right: 50px;
    align-self: center;
    letter-spacing: 0.7px;
  }
}
.video-intro {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  &-wraper {
    position: relative;
    &__video {
      position: absolute;
      top: 0;
      left: 0;
      height: 75vw;
      z-index: -1;
      position: fixed;
    }
  }
}

.face-container {
  width: 100%;
  margin: 0 auto;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 80px;
  &__logo {
    height: 50px;
    align-self: center;
    margin-bottom: 12px;
  }
  &__logo:hover {
    cursor: pointer;
  }
  &-nav {
    -webkit-box-flex: 0.8;
    -ms-flex-positive: 0.8;
    flex-grow: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    color: black;
    background-color: #5ce685;
    border-radius: 5px;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &-nav li {
    list-style: none;
    font-family: "Lato Bold";
    font-size: 15px;
  }
  &-nav li:hover {
    cursor: pointer;
  }
  &-nav li:first-child {
    color: #162e64;
    text-shadow: 0 0 10px #ffffff;
    cursor: pointer;
  }
}

.main-face {
  // background-image: url(../img/OSD_banner-960x510.jpg);
  &-steps {
    display: flex;
    color: black;
    justify-content: center;
    height: 70vh;
    &__1 {
      align-self: center;
      font-size: 16px;
      text-align: center;
      font-family: "Lato Regular";
      display: flex;
      flex-direction: column;
      &-video {
        min-width: 250px;
        width: 300px;
      }
    }
    &__1:hover {
      transform: scale(1.1, 1.1);
      cursor: pointer;
      transition: $hover-transitions-time;
    }
    &__1:not(:hover) {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: $hover-transitions-time;
    }
    &__2 {
      align-self: center;
      font-size: 16px;
      text-align: center;

      flex-grow: 0.6;
      padding: 20px;

      background-size: cover;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      font-family: "Lato Bold";
    }
    &__2:hover {
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: $hover-transitions-time;
      -o-transition: $hover-transitions-time;
      transition: $hover-transitions-time;
      cursor: pointer;
    }
    &__2:not(:hover) {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: $hover-transitions-time;
      -o-transition: $hover-transitions-time;
      transition: $hover-transitions-time;
    }
    &__3 {
      -ms-flex-item-align: start;
      align-self: center;
      text-align: center;
      width: 25%;
      font-family: "Lato Regular";
    }
    &__3:hover {
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: $hover-transitions-time;
      -o-transition: $hover-transitions-time;
      transition: $hover-transitions-time;
      cursor: pointer;
    }
    &__3:not(:hover) {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: $hover-transitions-time;
      -o-transition: $hover-transitions-time;
      transition: $hover-transitions-time;
    }
    &__3-title {
      font-size: 18px;
      text-align: center;
    }
    &__3-list li {
      text-align: left;
    }
  }
  &-general {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: #5dc8e5 0 0 20px;
    font-family: "Lato Regular";
  }
  &__angle-wraper {
    text-align: center;
    font-size: 100px;
    margin: 0 auto;
    width: 100%;
  }
  &__angle-wraper:hover {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: $hover-transitions-time;
    -o-transition: $hover-transitions-time;
    transition: $hover-transitions-time;
    cursor: pointer;
  }
  &__angle-wraper:not(:hover) {
    -webkit-transition: $hover-transitions-time;
    -o-transition: $hover-transitions-time;
    transition: $hover-transitions-time;
  }
}
.main-nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 95%;
  &-scroll {
    -webkit-box-flex: 0.8;
    -ms-flex-positive: 0.8;
    flex-grow: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #5ce685;
    & ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      margin: auto;
      padding: 20px;
    }
    & li {
      list-style: none;
      font-family: "Lato Bold";
      font-size: 16px;
    }
    & li:hover {
      cursor: pointer;
    }
    & li:first-child {
      color: #162e64;
      text-shadow: 0 0 10px #ffffff;
      cursor: pointer;
    }
  }
}
.main-nav-invisible {
  display: none;
}
.main-how {
  background-color: #5ce685;
  @include section-poz-container;
  &__title {
    font-size: $section-titles-font-size;
    font-family: $section-titles-font;
    @include title-info;
  }
  &__advice {
    font-size: 22px;
    text-align: center;
    font-family: "Lato Regular";
  }
  &__chois {
    text-align: center;
    padding: 0;
  }
  &__chois li {
    list-style: none;
    font-size: 22px;
    font-family: "Lato Regular";
    display: inline-block;
    padding: 0 10px;
  }
  &-info {
    border: 2px solid #0c2152;
    width: 70%;
    margin: 20px auto;
    &__title {
      text-align: center;
    }
    &__text {
      font-size: $paragraf-info-font-size;
      font-family: $paragraf-info-font;
      @include paragraf-info;
    }
  }
}
.main-services {
  background-color: skyblue;
  @include section-poz-container;
  &__title {
    font-size: $section-titles-font-size;
    font-family: $section-titles-font;
    @include title-info;
  }
  &__list {
    font-size: $paragraf-info-font-size;
    font-family: $paragraf-info-font;
    text-align: left;
    line-height: 1.1;
    max-width: 70%;
    margin: 20px auto;
  }
  &__list li {
    font-size: $paragraf-info-font-size;
    font-family: $paragraf-info-font;
    margin: 10px auto;
    padding-left: 10px;
    line-height: 0.9;
  }
}
.main-portfolio {
  background-color: #ffffff;
  @include section-poz-container;
  &__title {
    font-size: $section-titles-font-size;
    font-family: $section-titles-font;
    @include title-info;
  }
  &-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    &__item {
      width: 40%;
      margin-top: 20px;
    }
    &__title {
      font-family: $section-titles-font;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    &__text {
      font-family: $paragraf-info-font;
      font-size: 14px;
      min-width: 300px;
    }
    &__link {
      text-decoration: none;
      font-family: $section-titles-font;
    }
  }
}
.main-contacts {
  background-color: #ffffff;
  width: 100%;
  opacity: 90%;
  padding: 30px 0 30px 0;
  &__title {
    font-size: $section-titles-font-size;
    font-family: $section-titles-font;
    @include title-info;
  }
  &__advice {
    @include for-contacts-texts;
  }
  &__telephone {
    @include for-contacts-texts;
  }
  &__policy {
    @include for-contacts-texts;
  }
  &-form {
    width: 30%;
    min-width: 300px;

    margin: 0 auto;
    &__inputs {
      width: 100%;
      border-radius: 3px;
      margin: 2px;
      border: none;
      font-size: $paragraf-info-font-size;
      font-family: $paragraf-info-font;
    }
  }
  &__form-button {
    text-align: center;
  }
  &__form-button button {
    background-color: #0c2152;
    color: #ffffff;
    font-family: $paragraf-info-font;
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }
  &__form-button button:hover {
    background-color: #615f5f;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
.cookies {
  background-color: rgb(35, 35, 36);
  width: 100%;
  opacity: 90%;
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  position: fixed;
  color: #ffffff;
  padding: 0;
  border-radius: 10px;
  &-info-wrapper {
    width: 50%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    &__title {
      font-family: $section-titles-font;
      font-size: $section-titles-font-size;
      margin-top: 5%;
      line-height: 0;
    }
    &__text {
      font-family: $paragraf-info-font;
      font-size: $paragraf-info-font-size;
    }
  }
  &__button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100px;
    background-color: rgb(35, 35, 36);
    color: #ffffff;
  }
  &__button button {
    background-color: rgb(35, 35, 36);
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: $paragraf-info-font;
    font-size: $paragraf-info-font-size;
  }
}
.angle-links-anchor {
  text-decoration: none;
  color: #056923;
}
.menu-links {
  color: black;
  text-decoration: none;
}
.menu-links:hover {
  color: #ffffff;
  text-decoration: none;
  color: #33d32e;
  text-shadow: 0 0 15px #ffffff;
}
.main-menu-links {
  color: black;
  text-decoration: none;
}
.main-menu-links:hover {
  color: #ffffff;
  text-decoration: none;
  color: #101625;
  text-shadow: 0 0 15px #1b1a1a;
}

// -------------SLIDER------------
.main-slider {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 400px;
  align-items: center;
  &-item {
    width: 60%;
    text-align: center;
    &_img {
      margin: 0 auto;
      height: 250px;
    }
  }
}
.your-class-arrow {
  text-align: center;
  opacity: 90%;
}
.fa-chevron-left {
  color: rgb(51, 51, 53);
  font-size: 50px;
  position: relative;
  top: 180px;
}
.fa-chevron-right {
  color: rgb(51, 51, 53);
  font-size: 50px;
  margin-left: 65%;
  position: relative;
  top: 180px;
}
@media screen and (max-width: 992px) {
  .cookies {
    width: 100%;
    &-info-wrapper {
      width: 70%;
      &__title {
        font-size: 18px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }
  .header-nav__menu li {
    font-size: 11px;
    padding-left: 5px;
  }
  .header-nav__menu {
    padding-left: 10px;
  }
  .main-face {
    &-steps {
      height: 50vh;
      margin-top: 40px;
    }
    &-steps__1 {
      font-size: 14px;
    }
    &-steps__2 {
      font-size: 14px;
    }
    &-steps__3-title {
      font-size: 14px;
    }
    &-steps__3-list {
      font-size: 14px;
    }
    &-general {
      font-size: 14px;
    }
  }
  // .face-container {
  //   padding: 0 calc(50vh - 200px);
  // }
}

@media screen and (max-width: 767px) {
  .video-intro {
    &-wraper {
      position: relative;
      &__video {
        position: fixed;
        top: 0;
        left: 0;
        height: 120vh;
        z-index: -1;
      }
    }
  }
  .upheader-info__text {
    display: none;
  }
  .main-portfolio-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-nav-scroll {
    display: none;
  }
  .cookies {
    width: 100%;
    &-info-wrapper {
      width: 70%;
      &__title {
        font-size: 16px;
      }
      &__text {
        font-size: 12px;
      }
    }
  }
  #menu {
    opacity: 0;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn span,
  .menu__btn span:before,
  .menu__btn span:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .menu__btn span:before {
    content: "";
    top: -10px;
  }
  .menu__btn span:after {
    content: "";
    top: 10px;
  }
  .header-nav__menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    margin: 0;
    width: 100%;
    right: -100%;
    height: 50vh;
    padding-left: 0;
    text-align: center;
    background-color: #6e6c6c;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.97;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu-links {
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .menu-links li:hover {
    cursor: pointer;
  }
  .menu-links:checked,
  .menu-links:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  #menu:checked ~ .header-nav__menu {
    visibility: visible;
    left: 0;
    z-index: 1;
  }
  #menu:checked ~ .menu__btn span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu:checked ~ .menu__btn span:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
  }
  #menu:checked ~ .menu__btn span:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }
  .main-face {
    &-steps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
      top: 0;
      &__1 {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

        font-size: 14px;
        // min-width: 300px;
      }
      &__2 {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin: 0;
        padding: 0px;
        font-size: 14px;
        background-image: none;
      }

      &__3 {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

        min-width: 300px;
      }
      &__3-title {
        margin: 0;
      }
      &__3-list {
        margin: 5px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  // .main {
  //   min-width: 100%;
  // }
  // .main-portfolio-wraper__item img {
  //   width: 100px;
  // }
  .header {
    margin-top: 0;
  }
  .video-intro {
    &-wraper {
      position: relative;
      &__video {
        position: fixed;
        top: 0;
        left: 0;
        height: 120vh;
        z-index: -1;
      }
    }
  }
  .main-nav-scroll {
    display: none;
  }
}
#menu {
  opacity: 0;
}
